{% extends "base.html" %}

{% block content %}
<h1>Hi, my name is Leolani, would you like to chat?</h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.chat_id.label }}<br>
        {{ form.chat_id() }}<br>
        {% for error in form.chat_id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.speaker.label }}<br>
        {{ form.speaker(size=32) }}<br>
        {% for error in form.speaker.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.reward.label }}<br>
        {{ form.reward() }}<br>
        {% for error in form.reward.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}


